<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nsfitness.ns_splash">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconns"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconns"
        android:supportsRtl="true"
        android:theme="@style/Theme.NS_Splash">
        <activity android:name=".Protein_other"></activity>
        <activity android:name=".Besic" />
        <activity android:name=".NS_Login" />
        <activity android:name=".NS_Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>